body {
	background: url(images/background.jpg);
}

.container {
}

.social-nav ul{
	text-align: center;
	list-style: none;
}

.social-nav a{
	text-decoration: none;
	color: white;
}

.social-links ul{
	text-align: right;
	margin-bottom: 16px;
	margin-top: 6px;
	padding-left: 0;
	padding-right: 0;
}

.social-links li{
	padding-left: 0;
	padding-right: 0;
}

.social-links {
	padding-left: 0;
	padding-right: 0;
}
.dots {
	color: white;
}

.subscribe-link {
		float: right;
    margin-right: -51px;
    margin-top: 9px;
    line-height: 27px;
    border-right: 1px solid white;
    padding-right: 10px;
    text-transform: uppercase;
}

.primary-nav ul{
	text-align: center;
	list-style: none;
}

.primary-nav a {
	text-decoration: none;
	color: white;
}

.nav li{
	background-color: #B3292E;
	height: 40px;
	width: 24.168%;
	padding-bottom: 0;
	border-bottom: 4px ridge #888;
	margin-bottom: 17px;
	text-transform: uppercase;
}
.mar {
	margin-right: 11px;
}

.heading img{
	max-height: 335px;
	min-width: 100%;
	border: 10px solid white;
}

.articles {
	margin: 0;
	padding: 0;
}

article {
	text-align: center;
	color: black;
	background-color: white;
	padding: 0;
	width: 32.706%;
}

.art {
padding: 0px;
}

.art1 {
	margin-right: 5px;
}

.decks img{
	height: 195px;
	min-width: 100%;
}

.contact{
	background-color: white;
}
